doctype html
html
  head
    title= title
    meta(name="author" content="Duyb ")
    meta(name="keywords", content="网站架构 前端自动化 node express mysql")
    meta(name="description", content="使用Node.js/Express/Gulp/Bower等工具配置网站")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(charset=utf8)
    link(rel='stylesheet', href='/style/style.css')
    block css
  body
    #ajax-info
    block content

    block script
