//-Created by Duyb on 2016/9/11.
extends layout

block css
  link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

block content
  h1= title
  p Welcome to #{signature}！ —— #{title}


block script
  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/thirdParty/jquery/jquery.pagination.min.js")
  script(src="/js/spider-cnode.js")



