//========== .table 表格 ==========
table
  border-collapse: collapse
  margin-bottom: 0
  border: 1px solid #ddd
  thead
    background-color: #428bca
    color: #fff
    tr
      border: 1px solid #428bca
      border-bottom: 0
      th
        text-align: center
        border-bottom: 0
        padding: 10px 0
  tbody
    tr
      border-bottom: 1px solid #ddd
      td
        border-top: 0
        padding: 8px
        text-align: left
